Xft.dpi: 261
! Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 42
Xcursor.theme: Adwaita

! theme to use: default, macchiato, nord, gruvbox
!#include "/home/oliver/themes/Xresources/gentoo"
#include "/home/oliver/themes/Xresources/iterm"

#define GENTOO_PURPLE #54487A
#define GENTOO_PURPLE_LIGHT #61538D

! dwm and dmenu
*.selbordercolor: GENTOO_PURPLE
*.selbgcolor: GENTOO_PURPLE

dwm.font: Iosevka:size=10
dwm.fontalt0: Symbols Nerd Font Mono:size=10
dwm.borderpx: 8

st.font: Iosevka:size=10
st.fontalt0: Symbols Nerd Font Mono:size=10

dmenu.font: Iosevka:size=10

slock.bgimage: /home/oliver/wallpapers/nyacat.png
