! 2880x1800
Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 42
Xcursor.theme: Adwaita

! theme to use: default, macchiato, nord, gruvbox
#include "/home/oliver/themes/Xresources/gruber-darker"

#define GENTOO_PURPLE #54487A
#define GENTOO_PURPLE_LIGHT #61538D
#define FONT JetBrains Mono:size=14

! dwm and dmenu
*.selbordercolor: GENTOO_PURPLE
*.selbgcolor: GENTOO_PURPLE

dwm.font: FONT
dwm.fontalt0: Symbols Nerd Font Mono:size=14
dwm.borderpx: 8
dwm.dmenufont: JetBrains Mono-14

st.font: FONT
st.fontalt0: Symbols Nerd Font Mono:size=14

dmenu.font: FONT

slock.bgimage: /home/oliver/wallpapers/nyacat.png
